/*General body style*/
body {
    font-family: Arial, sans-serif;/*Sets font size*/
    text-align: center;/*Center align the text*/
    background-color: #D3D3D3;/*Light gray background color*/
    margin: 0;/*Removes default margin*/
}
/*Header style*/
header {
    background-color: #F2888B;/*Pink color*/
    padding: 25px;/*Space inside the header*/
}

header p {
    font-style: italic;/*Italic the text*/
    font-size: 17px;/*Set the font size to 17*/
}
/*Footer style*/
footer {
    text-align: center;/*Center align the text*/
    background-color: #F2888B;/*Pink color*/
    padding: 10px;/*Padding inside the footer*/
    margin-top: 190px;/*Space above the footer*/
    font-weight: bold;/*Bold*/
}

/*Image gallery layout*/
.image-gallery {
    display: flex;/*Flexbox layout*/
    flex-wrap: wrap;/*Wrapping of images*/
    justify-content: center;/*Centers images horizontally*/
    gap: 50px;/*Space between images*/
    margin-top: 40px;/*Adds top margin*/
}

/*Image container style*/
.image-container {
    width: 300px;/*Sets width*/
    display: flex;/*Flexbox layout*/
    flex-direction: column;/*Aligns in column direction*/
    align-items: center;/*Centers items horizontally*/
    margin: 20px;/*Space around each container*/
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;/*Smooth animation for hover effects*/
}

/*Image styling*/
.image {
    width: 100%;/*fill within the container*/
    height: 240px;/*Set fixed height*/
    border-radius: 10px;/*Rounds corners of image*/
    
}

/*Image text styling*/
.image-text {
    padding: 10px;/*Space around text*/
    text-align: center;/*Center text*/
    font-weight: bold;/*Bolds text*/
    margin-top: 10px;/*Space above margin*/
    font-size: 18px;/*Set font size*/
}

/*Hover effects*/
.image-container:hover {
    border-radius: 20px;/*Rounds corners on hover*/
    cursor: pointer;/*Turns cursor into pointer*/
    transform: scale(1.1);/*Enlarge on hover*/
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);/*Shadow effect*/
}

/*Return button container*/
.Return-button {
    text-align: center;/*Centers button*/
    margin-top: 70px;/*Space above button*/
    
}

/*Button styling*/
.button {
    background: linear-gradient(135deg, #C4A484, #A67C52);/*Gradient background*/
    border:none;/*Removes border*/
    color:black;/*Color black*/
    border-radius: 10px;/*Rounds corners*/
    cursor: pointer;/*Turns cursor into pointers*/
    padding: 15px 30px;/*Add padding inside the button*/
    font-size: 18px;/*Font size to 18*/
    font-weight: bold;/*Makes font bold*/
    transition: all 0.3s ease-in-out;/*Smooth Transition*/
}

/*Button hover*/
.button:hover {
    background: linear-gradient(135deg, #A67C52, #8B5E3B);/*Darker gradient on hover*/
    transform: scale(1.1);/*Enlarge on hover*/
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);/*Shadow effect*/

}
